<!doctype html>
<html class="no-js" lang="">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>WoW Todo</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="theme-color" content="#ffffff">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="styling/site.min.css">
</head>

<body>
    <!--[if lte IE 9]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> "browser" (its not really a browser now, is it). Please <a href="https://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p>
        <![endif]-->
    <!-- Add your site or application content here -->

    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#addchar">
        Add char
    </button>

    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#data">
        Import / Export
    </button>

    <div class="modal" tabindex="-1" role="dialog" id="addchar">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Modal title</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form id="addcharform">
                        <div class="form-group">
                            <label for="name">Name</label>
                            <input type="text" name="name" class="form-control" id="name" placeholder="Enter name">
                        </div>

                        <div class="form-group">
                            <label for="class">Select class</label>
                            <select class="form-control" id="class" name="class">
                                <option value="0">Warrior</option>
                                <option value="1">Paladin</option>
                                <option value="2">Hunter</option>
                                <option value="3">Rogue</option>
                                <option value="4">Priest</option>
                                <option value="5">Death Knight</option>
                                <option value="6">Shaman</option>
                                <option value="7">Mage</option>
                                <option value="8">Warlock</option>
                                <option value="9">Monk</option>
                                <option value="10">Druid</option>
                                <option value="11">Demon Hunter</option>
                            </select>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" data-dismiss="modal"
                        onclick="AddCharacter()">Add</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal" tabindex="-1" role="dialog" id="data">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Import / Export</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form id="dataform">
                        <div class="form-group">
                            <label for="datatextarea">Data</label>
                            <textarea id="datatextarea" class="form-control" rows="5"></textarea>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" onclick="Import()">Import</button>
                    <button type="button" class="btn btn-primary" onclick="Export()">Export</button>
                </div>
            </div>
        </div>
    </div>

    <!-- <div id="app">
        <ol>
            <li v-for="character in characters">
                <span>{{ character.id }}</span>, <span>{{ character.name }}</span>, <span>{{ character.class }}</span>
            </li>
        </ol>
    </div> -->

    <table class="table table-hover" id="app">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th v-for="character in characters">{{character.name}}</th>
          </tr>
        </thead>
        <tbody>
          <tr v-for="(task, taskIndex) in tasks">
            <th scope="row"> {{task}}</th>
            <td v-for="(character, characterIndex) in characters"> <input type="checkbox" value="true" v-model="status[taskIndex][characterIndex]"> </td>
          </tr>
        </tbody>
      </table>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="script/site.min.js"></script>
</body>

</html>